.section1 {
    /* background-color: #1c2b37; */
    background-color: #172734;
    height: 100vh;
}

.section2 {
    height: 100vh;
}

.section3 {
    background-color: #241c37;
    height: 100vh;
}

.section4 {
    height: 100vh;
}

.section5 {
    background-color: #352d4b;
    height: 100vh;
}

.div_header_section1 {
    text-align: center;
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;
}
.div_header_section2 {
    text-align: center;
    padding-top: 9%;
    padding-left: 12%;
    padding-right: 12%;
}
.div_header_section3 {
    text-align: center;
    padding-top: 7%;
    padding-left: 12%;
    padding-right: 12%;
}

.div_header_section4 {
    text-align: left;
    padding-top: 7%;
    padding-left: 12%;
    padding-right: 12%;
}
.div_header_section5 {
    text-align: center;
    padding: 40px;
}

.div_header_section1 h1 {
    color: #f97c07;
    font-size: 42px;
}

.div_header_section1 p {
    /* margin-top: -7%; */
    line-height: 20px;
    color: #022e61;
    font-size: 14px;
}

.get_started {
    padding: 10px;
    background-color: #f97c0700;
    color: #f97c07;
    border: 2px solid #f97c07;
    font-size: 16px;
    border-radius: 15px;
}
.get_started:hover {
    padding: 10px;
    background-color: #f8a252;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.5s;
}

.div_header_section2 h1 {
    color: #f97c07;
    font-size: 42px;
    font-weight: 100;
}

.div_header_section2 p {
    margin-top: 10px;
    line-height: 20px;
    color: #525252;
    font-size: 14px;
}

.div_header_section2vision {
    text-align: center;
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
}
.div_header_section2vision h1 {
    color: #f97c07;
    font-size: 42px;
    font-weight: 100;
}
.div_header_section2vision p {
    margin-top: 10px;
    line-height: 20px;
    color: #525252;
    font-size: 14px;
}

.div_header_section3 h1 {
    color: #f97c07;
    font-size: 42px;
    font-weight: 100;
}
.div_header_section3 p {
    margin-top: 10px;
    line-height: 20px;
    color: #022e61;
    font-size: 14px;
}

.div_header_section4 h1 {
    color: #f97c07;
    font-size: 42px;
    font-weight: 100;
}
.div_header_section4 p {
    margin-top: 10px;
    line-height: 20px;
    color: #c7c7c7;
    font-size: 14px;
}

.seeClients {
    margin-top: 0;
}


.div_header_section5 h1 {
    color: #f97c07;
    font-size: 42px;
    font-weight: 100;
}

.div_header_section5 p {
    margin-top: 10px;
    line-height: 20px;
    color: #022e61;
    font-size: 14px;
}

.testimonial-card {
    transition: transform 5s;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.onefrontpage_image {
    transition: transform 0.5s;
}

.onefrontpage_image:hover {
    transform: scale(1.05);
}

#imagewhenmm {
    display: none;
}
#description {
    display: none;
}


/* mobile phone mode */

@media only screen and (max-width: 768px){
    .div_header_section1 {
        text-align: center;
        padding-top: 12%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .div_header_section1 h1 {
        color: #f97c07;
        font-size: 18px;
    }
    .div_header_section1 p {
        /* margin-top: -20%; */
        color: #022e61;
        font-size: 16px;
    }
    #imagewhenmm {
        display: block; /* Display the image on mobile devices */
    }
    #tohidewhemmm {
        display: none;
    }
    #cenlogo {
        height: 200px;
        border-radius: 25px;
    }
    #segmentWelcome {
        /* background-color: #fafafa; */
    }
    #description {
        padding-top: 10px;
        color: #f39965;
        display: block;
        text-align: left;
        /* text-transform: uppercase; */
    }
}